@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 600;
  src: url('/public/TTFirsNeue-DemiBold.eot');
  src: url('/public/TTFirsNeue-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('/public/TTFirsNeue-DemiBold.woff2') format('woff2'),
    url('/public/TTFirsNeue-DemiBold.woff') format('woff'),
    url('/public/TTFirsNeue-DemiBold.svg#TTFirsNeue-DemiBold') format('svg');
}

html,
body,
#__next {
  display: flex;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
}
